aiofiles
aiohttp
anyio
asgiref
async-lru
async-timeout
attrs==21.2.0
beautifulsoup4
bs4
certifi
chardet
charset-normalizer
click
colorama
configparser
db0mb3r
fastapi
gTTS
h11
httpcore
httpx
idna
Jinja2
loguru
MarkupSafe
multidict
phonenumbers
pyaes==1.6.1
pydantic
Pyrogram==1.2.9
PySocks==1.7.1
random-user-agent==1.0
requests
rfc3986
six
sniffio
soupsieve
starlette
TgCrypto
typing-extensions
urllib3
uvicorn
wget
wikipedia
win32-setctime
yarl
youtube-dl