aiofiles
aiohttp
anyio
asgiref
async-lru
async-timeout
attrs==21.2.0
beautifulsoup4
bs4
certifi
chardet
charset-normalizer
click
colorama
configparser
db0mb3r
fastapi
gTTS
h11
httpcore
httpx
idna
Jinja2
loguru
MarkupSafe==
multidict
phonenumbers==8.12.29
pyaes==1.6.1
pydantic==1.8.2
Pyrogram==1.2.9
PySocks==1.7.1
random-user-agent==1.0.1
requests==2.26.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
starlette==0.14.2
TgCrypto==1.2.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
wget==3.2
wikipedia==1.4.0
win32-setctime==1.0.3
yarl==1.6.3
youtube-dl==2021.6.6